.Doctor-form{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 54.5rem;
    width: 40rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 0.5rem;
}

.form-main{
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.form-input{
    background-color: white;
    width: 80%;
    height: 20%;
}

.submit-button{
    border: 2px solid black;
    margin-top: 2rem;
    background-color: grey;
}

.name-box{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
